<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Human Resources - Application Information flow</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Human Resources - Application Information flow</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ab90b806-242d-479d-8f14-37f9354241e0.png" alt="Human Resources - Application Information flow" usemap="#ab90b806-242d-479d-8f14-37f9354241e0map"/>
			   <map name="ab90b806-242d-479d-8f14-37f9354241e0map">
				  		<area shape="rect" coords="78,496,198,539" href="../elements/id-045e075d324c4d48a7a7882a5111525e.html"  target="element">
				  		<area shape="rect" coords="78,574,198,629" href="../elements/id-5d3e770464454affa7dcc77873c3b28a.html"  target="element">
				  		<area shape="rect" coords="882,495,974,541" href="../elements/9695afc7-42a6-467f-b1e3-e15136ddb507.html"  target="element">
				  		<area shape="rect" coords="868,574,988,629" href="../elements/0c8e28b0-686d-49c6-aca4-1b0c3dad4d59.html"  target="element">
				  		<area shape="rect" coords="221,394,341,449" href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html"  target="element">
				  		<area shape="rect" coords="238,496,323,539" href="../elements/040138ef-a420-4adb-9ca2-cd46d2cf17f3.html"  target="element">
				  		<area shape="rect" coords="690,496,769,539" href="../elements/12944f1d-d753-41a5-a47b-487facd533a8.html"  target="element">
				  		<area shape="rect" coords="1202,268,1281,311" href="../elements/b290ddfb-98ca-4981-a38f-3f9d010f79fa.html"  target="element">
				  		<area shape="rect" coords="1052,268,1131,311" href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html"  target="element">
				  		<area shape="rect" coords="1202,496,1281,539" href="../elements/711eca74-aa06-4cd7-b0ba-e061e8bae430.html"  target="element">
				  		<area shape="rect" coords="474,268,553,311" href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html"  target="element">
				  		<area shape="rect" coords="1182,574,1302,629" href="../elements/1ca299fe-505a-46db-9bd5-19561e2c605e.html"  target="element">
				  		<area shape="rect" coords="357,574,477,629" href="../elements/300c6aa5-fe84-4fe2-8e8f-65adacb48076.html"  target="element">
				  		<area shape="rect" coords="508,574,628,629" href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html"  target="element">
				  		<area shape="rect" coords="221,574,341,629" href="../elements/40428581-7d07-4e42-8222-1af0ff5b2f12.html"  target="element">
				  		<area shape="rect" coords="670,574,790,629" href="../elements/aa2ff5e7-ee82-4843-8c28-2a1f0eb1f489.html"  target="element">
				  		<area shape="rect" coords="474,394,696,449" href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html"  target="element">
				  				<area shape="rect" coords="1328,154,1448,209" href="../elements/id-52eb8496b72d4689b00d7a661e4830d8.html"  target="element">
				  				<area shape="rect" coords="1319,38,1451,77" href="../elements/id-e17b325e211845d3b5296624de4d7846.html"  target="element">
				  				<area shape="rect" coords="1180,154,1300,209" href="../elements/36e7220f-9c7b-4006-b73a-996f670c11b7.html"  target="element">
				  				<area shape="rect" coords="1036,154,1156,209" href="../elements/d82eca9d-a5e5-4f99-8344-a8e63d81266d.html"  target="element">
				  				<area shape="rect" coords="316,154,485,209" href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html"  target="element">
				  				<area shape="rect" coords="1174,40,1306,79" href="../elements/5239f3e9-81e0-48fe-94aa-b1e59aaa6548.html"  target="element">
				  				<area shape="rect" coords="742,40,874,79" href="../elements/1993f1c4-5f37-4464-b82e-e44ac8387bf6.html"  target="element">
				  				<area shape="rect" coords="1030,40,1162,79" href="../elements/09589c17-4061-4f8e-9e42-d590bf0f5e17.html"  target="element">
				  				<area shape="rect" coords="886,40,1018,79" href="../elements/0730b001-3ebd-4aca-ac16-ce8c04ffd65a.html"  target="element">
				  				<area shape="rect" coords="598,40,730,79" href="../elements/f925feec-ed04-4faa-9707-6d129e754a13.html"  target="element">
				  				<area shape="rect" coords="454,40,586,79" href="../elements/bb3ece98-7cd3-4384-8606-1f085f96ee90.html"  target="element">
				  				<area shape="rect" coords="310,40,442,79" href="../elements/97d792a6-3695-4f76-9796-fd5870c04515.html"  target="element">
				  				<area shape="rect" coords="166,40,298,79" href="../elements/d878f8e0-55cc-4ed3-b6a1-8db25fc60ec1.html"  target="element">
				  				<area shape="rect" coords="22,40,154,79" href="../elements/888e5ed1-d19f-459c-8be7-2825d835f088.html"  target="element">

				          <area shape="rect" coords="10,10,1467,239" href="../objects/349b40b1-0004-4119-846f-98ae787ce8a6.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">This view presents an overview on the usage of the HR applications and the information flow between those applications
All custom interfaces are identified with their CUS/INT reference, all standard integrations are only mentioning the information object.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/349b40b1-0004-4119-846f-98ae787ce8a6.html" target="element"> Human Resource Applications </a> </td>
									           <td> <a href="../objects/349b40b1-0004-4119-846f-98ae787ce8a6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/888e5ed1-d19f-459c-8be7-2825d835f088.html" target="element"> Workforce Management </a> </td>
													    <td> <a href="../elements/888e5ed1-d19f-459c-8be7-2825d835f088.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d878f8e0-55cc-4ed3-b6a1-8db25fc60ec1.html" target="element"> Absence Management </a> </td>
													    <td> <a href="../elements/d878f8e0-55cc-4ed3-b6a1-8db25fc60ec1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/97d792a6-3695-4f76-9796-fd5870c04515.html" target="element"> Performance Management </a> </td>
													    <td> <a href="../elements/97d792a6-3695-4f76-9796-fd5870c04515.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bb3ece98-7cd3-4384-8606-1f085f96ee90.html" target="element"> Talent Management </a> </td>
													    <td> <a href="../elements/bb3ece98-7cd3-4384-8606-1f085f96ee90.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f925feec-ed04-4faa-9707-6d129e754a13.html" target="element"> Time and Labor </a> </td>
													    <td> <a href="../elements/f925feec-ed04-4faa-9707-6d129e754a13.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0730b001-3ebd-4aca-ac16-ce8c04ffd65a.html" target="element"> Onboarding / Offboarding </a> </td>
													    <td> <a href="../elements/0730b001-3ebd-4aca-ac16-ce8c04ffd65a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/09589c17-4061-4f8e-9e42-d590bf0f5e17.html" target="element"> MyLearning Platform </a> </td>
													    <td> <a href="../elements/09589c17-4061-4f8e-9e42-d590bf0f5e17.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1993f1c4-5f37-4464-b82e-e44ac8387bf6.html" target="element"> Recruitment </a> </td>
													    <td> <a href="../elements/1993f1c4-5f37-4464-b82e-e44ac8387bf6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5239f3e9-81e0-48fe-94aa-b1e59aaa6548.html" target="element"> Organization Chart </a> </td>
													    <td> <a href="../elements/5239f3e9-81e0-48fe-94aa-b1e59aaa6548.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
													    <td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d82eca9d-a5e5-4f99-8344-a8e63d81266d.html" target="element"> Meridian </a> </td>
													    <td> <a href="../elements/d82eca9d-a5e5-4f99-8344-a8e63d81266d.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/36e7220f-9c7b-4006-b73a-996f670c11b7.html" target="element"> Org.Manager </a> </td>
													    <td> <a href="../elements/36e7220f-9c7b-4006-b73a-996f670c11b7.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e17b325e211845d3b5296624de4d7846.html" target="element"> Employee Wellbeing </a> </td>
													    <td> <a href="../elements/id-e17b325e211845d3b5296624de4d7846.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52eb8496b72d4689b00d7a661e4830d8.html" target="element"> Inuka Coaching platform </a> </td>
													    <td> <a href="../elements/id-52eb8496b72d4689b00d7a661e4830d8.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
											    <td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aa2ff5e7-ee82-4843-8c28-2a1f0eb1f489.html" target="element"> CONCUR </a> </td>
											    <td> <a href="../elements/aa2ff5e7-ee82-4843-8c28-2a1f0eb1f489.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/40428581-7d07-4e42-8222-1af0ff5b2f12.html" target="element"> Hyperion </a> </td>
											    <td> <a href="../elements/40428581-7d07-4e42-8222-1af0ff5b2f12.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html" target="element"> GAIA AP </a> </td>
											    <td> <a href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/300c6aa5-fe84-4fe2-8e8f-65adacb48076.html" target="element"> OAC </a> </td>
											    <td> <a href="../elements/300c6aa5-fe84-4fe2-8e8f-65adacb48076.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ca299fe-505a-46db-9bd5-19561e2c605e.html" target="element"> Active Directory </a> </td>
											    <td> <a href="../elements/1ca299fe-505a-46db-9bd5-19561e2c605e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html" target="element"> INT72 </a> </td>
											    <td> <a href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/711eca74-aa06-4cd7-b0ba-e061e8bae430.html" target="element"> INT57B </a> </td>
											    <td> <a href="../elements/711eca74-aa06-4cd7-b0ba-e061e8bae430.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html" target="element"> INT63 </a> </td>
											    <td> <a href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b290ddfb-98ca-4981-a38f-3f9d010f79fa.html" target="element"> INT39 </a> </td>
											    <td> <a href="../elements/b290ddfb-98ca-4981-a38f-3f9d010f79fa.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12944f1d-d753-41a5-a47b-487facd533a8.html" target="element"> INT66 </a> </td>
											    <td> <a href="../elements/12944f1d-d753-41a5-a47b-487facd533a8.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/040138ef-a420-4adb-9ca2-cd46d2cf17f3.html" target="element"> CUS181 </a> </td>
											    <td> <a href="../elements/040138ef-a420-4adb-9ca2-cd46d2cf17f3.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html" target="element"> GAIA - EBS </a> </td>
											    <td> <a href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c8e28b0-686d-49c6-aca4-1b0c3dad4d59.html" target="element"> InnerVision (legacy) </a> </td>
											    <td> <a href="../elements/0c8e28b0-686d-49c6-aca4-1b0c3dad4d59.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9695afc7-42a6-467f-b1e3-e15136ddb507.html" target="element"> InnerVision Views </a> </td>
											    <td> <a href="../elements/9695afc7-42a6-467f-b1e3-e15136ddb507.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d3e770464454affa7dcc77873c3b28a.html" target="element"> IdentityNow </a> </td>
											    <td> <a href="../elements/id-5d3e770464454affa7dcc77873c3b28a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-045e075d324c4d48a7a7882a5111525e.html" target="element"> Sailpoint Virtual Appliance </a> </td>
											    <td> <a href="../elements/id-045e075d324c4d48a7a7882a5111525e.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/1a718225-1dbe-4630-91a5-20e61d54455f.html" target="element">  </a> </td>
																				<td> <a href="../elements/1a718225-1dbe-4630-91a5-20e61d54455f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																				<td> <a href="../elements/f925feec-ed04-4faa-9707-6d129e754a13.html" target="element"> Time and Labor </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/34a3f67f-3365-4b5d-b2d2-0a595fe004c0.html" target="element">  </a> </td>
																				<td> <a href="../elements/34a3f67f-3365-4b5d-b2d2-0a595fe004c0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																				<td> <a href="../elements/1993f1c4-5f37-4464-b82e-e44ac8387bf6.html" target="element"> Recruitment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9e7e9f3d-ed84-4a56-bf66-1111451245f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/9e7e9f3d-ed84-4a56-bf66-1111451245f6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																				<td> <a href="../elements/bb3ece98-7cd3-4384-8606-1f085f96ee90.html" target="element"> Talent Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c90247dd-3e5b-4577-9142-a9369fd9495f.html" target="element">  </a> </td>
																				<td> <a href="../elements/c90247dd-3e5b-4577-9142-a9369fd9495f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																				<td> <a href="../elements/888e5ed1-d19f-459c-8be7-2825d835f088.html" target="element"> Workforce Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d3cb47ce-5e61-44ea-bd4b-d201a6bba947.html" target="element">  </a> </td>
																				<td> <a href="../elements/d3cb47ce-5e61-44ea-bd4b-d201a6bba947.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																				<td> <a href="../elements/d878f8e0-55cc-4ed3-b6a1-8db25fc60ec1.html" target="element"> Absence Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fcb11736-24ed-4294-82e6-12e0d08ebcd2.html" target="element">  </a> </td>
																				<td> <a href="../elements/fcb11736-24ed-4294-82e6-12e0d08ebcd2.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																				<td> <a href="../elements/97d792a6-3695-4f76-9796-fd5870c04515.html" target="element"> Performance Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0c818761-308a-4336-a3a2-7048ffab26bc.html" target="element">  </a> </td>
																				<td> <a href="../elements/0c818761-308a-4336-a3a2-7048ffab26bc.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																				<td> <a href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html" target="element"> INT72 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7688ed76c06e42778e48e3a83e5a580a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7688ed76c06e42778e48e3a83e5a580a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																				<td> <a href="../elements/0730b001-3ebd-4aca-ac16-ce8c04ffd65a.html" target="element"> Onboarding / Offboarding </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c56759f4d7884ea68e8b0977ff6e0af5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c56759f4d7884ea68e8b0977ff6e0af5.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																				<td> <a href="../elements/id-045e075d324c4d48a7a7882a5111525e.html" target="element"> Sailpoint Virtual Appliance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e1f46f1e-d1de-4e6b-944f-4c8f96dadfa2.html" target="element">  </a> </td>
																				<td> <a href="../elements/e1f46f1e-d1de-4e6b-944f-4c8f96dadfa2.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/d82eca9d-a5e5-4f99-8344-a8e63d81266d.html" target="element"> Meridian </a> </td>
																				<td> <a href="../elements/09589c17-4061-4f8e-9e42-d590bf0f5e17.html" target="element"> MyLearning Platform </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/27d28116-619c-4c53-beb3-fa2d607925c7.html" target="element">  </a> </td>
																				<td> <a href="../elements/27d28116-619c-4c53-beb3-fa2d607925c7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/36e7220f-9c7b-4006-b73a-996f670c11b7.html" target="element"> Org.Manager </a> </td>
																				<td> <a href="../elements/5239f3e9-81e0-48fe-94aa-b1e59aaa6548.html" target="element"> Organization Chart </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e5b400042891437b948f3aca2aad6d2a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e5b400042891437b948f3aca2aad6d2a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-52eb8496b72d4689b00d7a661e4830d8.html" target="element"> Inuka Coaching platform </a> </td>
																				<td> <a href="../elements/id-e17b325e211845d3b5296624de4d7846.html" target="element"> Employee Wellbeing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/44d07450-7c54-4458-915b-1ead55bcb2ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/44d07450-7c54-4458-915b-1ead55bcb2ef.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																		<td> <a href="../elements/12944f1d-d753-41a5-a47b-487facd533a8.html" target="element"> INT66 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a6d14dc7-9a72-42b2-9565-d98abeebadf8.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/a6d14dc7-9a72-42b2-9565-d98abeebadf8.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																		<td> <a href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html" target="element"> GAIA AP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6bd3e4f9-5d41-4c19-b32a-8b80c9a8a294.html" target="element">  </a> </td>
																		<td> <a href="../elements/6bd3e4f9-5d41-4c19-b32a-8b80c9a8a294.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																		<td> <a href="../elements/b290ddfb-98ca-4981-a38f-3f9d010f79fa.html" target="element"> INT39 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/58a15e1a-2ef5-473a-92a1-5b8956f3ca57.html" target="element">  </a> </td>
																		<td> <a href="../elements/58a15e1a-2ef5-473a-92a1-5b8956f3ca57.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																		<td> <a href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html" target="element"> INT63 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/21cc10d1-bd30-43e9-9e9d-669bc0fc6719.html" target="element">  </a> </td>
																		<td> <a href="../elements/21cc10d1-bd30-43e9-9e9d-669bc0fc6719.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																		<td> <a href="../elements/9695afc7-42a6-467f-b1e3-e15136ddb507.html" target="element"> InnerVision Views </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/820bac0e-657b-4d52-8515-cb0c90b489fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/820bac0e-657b-4d52-8515-cb0c90b489fc.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/1ca299fe-505a-46db-9bd5-19561e2c605e.html" target="element"> Active Directory </a> </td>
																		<td> <a href="../elements/711eca74-aa06-4cd7-b0ba-e061e8bae430.html" target="element"> INT57B </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/307c122f-2d35-4f3e-823e-2cc40db3b72c.html" target="element">  </a> </td>
																		<td> <a href="../elements/307c122f-2d35-4f3e-823e-2cc40db3b72c.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html" target="element"> INT72 </a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3fca2377-3598-4727-8577-095d1f9afe4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/3fca2377-3598-4727-8577-095d1f9afe4f.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/711eca74-aa06-4cd7-b0ba-e061e8bae430.html" target="element"> INT57B </a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/04ca20f3-be3c-40a6-839f-65dd76c16946.html" target="element">  </a> </td>
																		<td> <a href="../elements/04ca20f3-be3c-40a6-839f-65dd76c16946.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html" target="element"> INT63 </a> </td>
																		<td> <a href="../elements/d82eca9d-a5e5-4f99-8344-a8e63d81266d.html" target="element"> Meridian </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5c12702c-a7fe-429e-9f90-4dcf126fa141.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c12702c-a7fe-429e-9f90-4dcf126fa141.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/b290ddfb-98ca-4981-a38f-3f9d010f79fa.html" target="element"> INT39 </a> </td>
																		<td> <a href="../elements/36e7220f-9c7b-4006-b73a-996f670c11b7.html" target="element"> Org.Manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0e639ec4-5086-4ef4-b7ea-d3edf00944e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e639ec4-5086-4ef4-b7ea-d3edf00944e1.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/12944f1d-d753-41a5-a47b-487facd533a8.html" target="element"> INT66 </a> </td>
																		<td> <a href="../elements/aa2ff5e7-ee82-4843-8c28-2a1f0eb1f489.html" target="element"> CONCUR </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fd35e4e6-9c8e-4592-af54-7964198ca41f.html" target="element">  </a> </td>
																		<td> <a href="../elements/fd35e4e6-9c8e-4592-af54-7964198ca41f.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/040138ef-a420-4adb-9ca2-cd46d2cf17f3.html" target="element"> CUS181 </a> </td>
																		<td> <a href="../elements/40428581-7d07-4e42-8222-1af0ff5b2f12.html" target="element"> Hyperion </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/25efa504-1fec-49e9-b53a-61aead2f4432.html" target="element">  </a> </td>
																		<td> <a href="../elements/25efa504-1fec-49e9-b53a-61aead2f4432.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html" target="element"> GAIA - EBS </a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/db41ee27-9c36-4375-8032-8ae50d781129.html" target="element">  </a> </td>
																		<td> <a href="../elements/db41ee27-9c36-4375-8032-8ae50d781129.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html" target="element"> GAIA - EBS </a> </td>
																		<td> <a href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html" target="element"> GAIA AP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b2d89c49-9eb1-4542-b860-b02727be0599.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2d89c49-9eb1-4542-b860-b02727be0599.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html" target="element"> GAIA - EBS </a> </td>
																		<td> <a href="../elements/040138ef-a420-4adb-9ca2-cd46d2cf17f3.html" target="element"> CUS181 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1351d9d1-753e-4633-a6c7-0e9a5bf76b0e.html" target="element"> Reporting </a> </td>
																		<td> <a href="../elements/1351d9d1-753e-4633-a6c7-0e9a5bf76b0e.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html" target="element"> GAIA - EBS </a> </td>
																		<td> <a href="../elements/300c6aa5-fe84-4fe2-8e8f-65adacb48076.html" target="element"> OAC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7b1a51cb-0743-4db0-899b-482bb71bdd65.html" target="element">  </a> </td>
																		<td> <a href="../elements/7b1a51cb-0743-4db0-899b-482bb71bdd65.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/9695afc7-42a6-467f-b1e3-e15136ddb507.html" target="element"> InnerVision Views </a> </td>
																		<td> <a href="../elements/0c8e28b0-686d-49c6-aca4-1b0c3dad4d59.html" target="element"> InnerVision (legacy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8238b7a91be0462d86b68157e4036478.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8238b7a91be0462d86b68157e4036478.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-045e075d324c4d48a7a7882a5111525e.html" target="element"> Sailpoint Virtual Appliance </a> </td>
																		<td> <a href="../elements/id-5d3e770464454affa7dcc77873c3b28a.html" target="element"> IdentityNow </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>