<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Local CGC Applications</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Local CGC Applications</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ce0f27e0-73b1-4948-9f70-c77fe2f2f8c3.png" alt="Local CGC Applications" usemap="#ce0f27e0-73b1-4948-9f70-c77fe2f2f8c3map"/>
			   <map name="ce0f27e0-73b1-4948-9f70-c77fe2f2f8c3map">
				          <area shape="rect" coords="504,340,595,382" href="../objects/id-d5c09df4975c4b0ab774b7480285cd8e.html" target="element" >
				  		<area shape="rect" coords="319,330,439,385" href="../elements/id-bf049061edc743ae8da7a01d92e4ec62.html"  target="element">
				  		<area shape="rect" coords="319,260,439,315" href="../elements/id-2718f2e68ee240879ff406da09428036.html"  target="element">
				  		<area shape="rect" coords="154,260,274,315" href="../elements/id-cf2597e1facc4a93b16606d525d8ecb4.html"  target="element">
				  		<area shape="rect" coords="10,115,158,152" href="../elements/id-61f656407f654343b4270c58dab757ca.html"  target="element">
				          <area shape="rect" coords="519,425,658,468" href="../objects/fbc411b4-09d9-4a65-85ec-2cd0abc88e4a.html" target="element" >
				          <area shape="rect" coords="502,195,575,311" href="../objects/f2a31b0d-8d48-42ce-8596-a2174cd349fd.html" target="element" >
				  		<area shape="rect" coords="316,184,436,239" href="../elements/8a0d48db-1028-4be2-b881-b69a3078de92.html"  target="element">
				          <area shape="rect" coords="502,113,593,155" href="../objects/80076edb-1098-475b-9f98-719c94baff13.html" target="element" >
				  		<area shape="rect" coords="316,106,436,161" href="../elements/b322ea18-2a55-4a97-85c5-edad13c5adb1.html"  target="element">
				          <area shape="rect" coords="502,10,587,65" href="../objects/0f589dad-488a-49ca-a443-2b1b612f36ab.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/0f589dad-488a-49ca-a443-2b1b612f36ab.html" target="element">  </a> </td>
									           <td> <a href="../objects/0f589dad-488a-49ca-a443-2b1b612f36ab.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/b322ea18-2a55-4a97-85c5-edad13c5adb1.html" target="element"> USP </a> </td>
											    <td> <a href="../elements/b322ea18-2a55-4a97-85c5-edad13c5adb1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/80076edb-1098-475b-9f98-719c94baff13.html" target="element">  </a> </td>
									           <td> <a href="../objects/80076edb-1098-475b-9f98-719c94baff13.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/8a0d48db-1028-4be2-b881-b69a3078de92.html" target="element"> GDPDU-Export </a> </td>
											    <td> <a href="../elements/8a0d48db-1028-4be2-b881-b69a3078de92.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/f2a31b0d-8d48-42ce-8596-a2174cd349fd.html" target="element">  </a> </td>
									           <td> <a href="../objects/f2a31b0d-8d48-42ce-8596-a2174cd349fd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/fbc411b4-09d9-4a65-85ec-2cd0abc88e4a.html" target="element">  </a> </td>
									           <td> <a href="../objects/fbc411b4-09d9-4a65-85ec-2cd0abc88e4a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-61f656407f654343b4270c58dab757ca.html" target="element"> Demo Management </a> </td>
											    <td> <a href="../elements/id-61f656407f654343b4270c58dab757ca.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cf2597e1facc4a93b16606d525d8ecb4.html" target="element"> Microsoft Teams </a> </td>
											    <td> <a href="../elements/id-cf2597e1facc4a93b16606d525d8ecb4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2718f2e68ee240879ff406da09428036.html" target="element"> Betriebsrat360 </a> </td>
											    <td> <a href="../elements/id-2718f2e68ee240879ff406da09428036.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf049061edc743ae8da7a01d92e4ec62.html" target="element"> SILAE e-Paye </a> </td>
											    <td> <a href="../elements/id-bf049061edc743ae8da7a01d92e4ec62.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-d5c09df4975c4b0ab774b7480285cd8e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d5c09df4975c4b0ab774b7480285cd8e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-18e597419cef482aab824332888ffa31.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18e597419cef482aab824332888ffa31.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/b322ea18-2a55-4a97-85c5-edad13c5adb1.html" target="element"> USP </a> </td>
																		<td> <a href="../elements/id-61f656407f654343b4270c58dab757ca.html" target="element"> Demo Management </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-5cb1e4ae2ffe4977aef9716c70f46a46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cb1e4ae2ffe4977aef9716c70f46a46.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf2597e1facc4a93b16606d525d8ecb4.html" target="element"> Microsoft Teams </a> </td>
																		<td> <a href="../elements/id-2718f2e68ee240879ff406da09428036.html" target="element"> Betriebsrat360 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>