<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Finance - Electronic AP invoicing</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Finance - Electronic AP invoicing</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-125e73887f5842ecb72fdf61607048a1.png" alt="Finance - Electronic AP invoicing" usemap="#id-125e73887f5842ecb72fdf61607048a1map"/>
			   <map name="id-125e73887f5842ecb72fdf61607048a1map">
				          <area shape="rect" coords="810,150,888,176" href="../objects/id-5b1239d721fd40969a24f6721390f611.html" target="element" >
				  		<area shape="rect" coords="770,180,846,211" href="../elements/b4ab7c06-5e4f-4799-a64a-19365d846fa2.html"  target="element">
				  				<area shape="rect" coords="510,110,620,150" href="../elements/id-58828fc5f53943ddb5f992c79c118e38.html"  target="element">

				  		<area shape="rect" coords="490,85,636,161" href="../elements/id-d1a9aef003804773b18abe859b7f7790.html"  target="element">
				          <area shape="rect" coords="10,135,151,161" href="../objects/id-3babc931453b4ef194af6a5500592d0f.html" target="element" >
				  		<area shape="rect" coords="590,180,746,211" href="../elements/596e5de5-6ba6-4891-b50c-b32902c16693.html"  target="element">
				  		<area shape="rect" coords="175,10,295,65" href="../elements/id-b801920c92214c308a2b481ce87a1f5e.html"  target="element">
				  		<area shape="rect" coords="170,245,290,300" href="../elements/id-b801920c92214c308a2b481ce87a1f5e.html"  target="element">
				  		<area shape="rect" coords="340,245,460,300" href="../elements/03326c90-417c-44e6-9763-b00d6d4b5940.html"  target="element">
				          <area shape="rect" coords="105,260,151,286" href="../objects/id-f31b009e212a449b8a4bf16333480ff7.html" target="element" >
				  		<area shape="rect" coords="505,10,625,65" href="../elements/id-549f77aea3224a6aa30d72301a21cad1.html"  target="element">
				          <area shape="rect" coords="10,95,151,121" href="../objects/id-9a119047c4bd444fa8d007ad2d751b42.html" target="element" >
				  		<area shape="rect" coords="980,50,1100,181" href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html"  target="element">
				  		<area shape="rect" coords="700,85,841,140" href="../elements/6bb59544-a0f7-48fc-9013-8000cc1fd827.html"  target="element">
				  		<area shape="rect" coords="340,10,460,65" href="../elements/id-b7e894d908a640f083b8f683a1977271.html"  target="element">
				          <area shape="rect" coords="105,25,151,51" href="../objects/id-78b907487dea42e8bf5ba7a8d91f87d8.html" target="element" >
				  		<area shape="rect" coords="175,95,295,161" href="../elements/id-8a6821c3b9854bdfaa437015e884e309.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8a6821c3b9854bdfaa437015e884e309.html" target="element"> Suppliers </a> </td>
											    <td> <a href="../elements/id-8a6821c3b9854bdfaa437015e884e309.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-78b907487dea42e8bf5ba7a8d91f87d8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-78b907487dea42e8bf5ba7a8d91f87d8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-b7e894d908a640f083b8f683a1977271.html" target="element"> TessiSquare </a> </td>
											    <td> <a href="../elements/id-b7e894d908a640f083b8f683a1977271.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6bb59544-a0f7-48fc-9013-8000cc1fd827.html" target="element"> APRO Imaging </a> </td>
											    <td> <a href="../elements/6bb59544-a0f7-48fc-9013-8000cc1fd827.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html" target="element"> GAIA AP </a> </td>
											    <td> <a href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-9a119047c4bd444fa8d007ad2d751b42.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9a119047c4bd444fa8d007ad2d751b42.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-549f77aea3224a6aa30d72301a21cad1.html" target="element"> Download invoice </a> </td>
											    <td> <a href="../elements/id-549f77aea3224a6aa30d72301a21cad1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-f31b009e212a449b8a4bf16333480ff7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f31b009e212a449b8a4bf16333480ff7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/03326c90-417c-44e6-9763-b00d6d4b5940.html" target="element"> iTax4apps </a> </td>
											    <td> <a href="../elements/03326c90-417c-44e6-9763-b00d6d4b5940.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b801920c92214c308a2b481ce87a1f5e.html" target="element"> FIN_AP-Invoices </a> </td>
											    <td> <a href="../elements/id-b801920c92214c308a2b481ce87a1f5e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b801920c92214c308a2b481ce87a1f5e.html" target="element"> FIN_AP-Invoices </a> </td>
											    <td> <a href="../elements/id-b801920c92214c308a2b481ce87a1f5e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/596e5de5-6ba6-4891-b50c-b32902c16693.html" target="element"> APRO CCM </a> </td>
											    <td> <a href="../elements/596e5de5-6ba6-4891-b50c-b32902c16693.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-3babc931453b4ef194af6a5500592d0f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3babc931453b4ef194af6a5500592d0f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-d1a9aef003804773b18abe859b7f7790.html" target="element"> Outlook </a> </td>
											    <td> <a href="../elements/id-d1a9aef003804773b18abe859b7f7790.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-58828fc5f53943ddb5f992c79c118e38.html" target="element"> APRO inbox </a> </td>
													    <td> <a href="../elements/id-58828fc5f53943ddb5f992c79c118e38.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b4ab7c06-5e4f-4799-a64a-19365d846fa2.html" target="element"> OCR </a> </td>
											    <td> <a href="../elements/b4ab7c06-5e4f-4799-a64a-19365d846fa2.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-5b1239d721fd40969a24f6721390f611.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5b1239d721fd40969a24f6721390f611.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-23b42ca0dc1748f8b7caf8483d5a0047.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23b42ca0dc1748f8b7caf8483d5a0047.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a6821c3b9854bdfaa437015e884e309.html" target="element"> Suppliers </a> </td>
																		<td> <a href="../elements/id-58828fc5f53943ddb5f992c79c118e38.html" target="element"> APRO inbox </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-39901dc8dd504bb59ce05c60834b52cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39901dc8dd504bb59ce05c60834b52cb.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7e894d908a640f083b8f683a1977271.html" target="element"> TessiSquare </a> </td>
																		<td> <a href="../elements/id-549f77aea3224a6aa30d72301a21cad1.html" target="element"> Download invoice </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bf5244c839442d6aaeeb9f844b84b70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bf5244c839442d6aaeeb9f844b84b70.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7e894d908a640f083b8f683a1977271.html" target="element"> TessiSquare </a> </td>
																		<td> <a href="../elements/id-b801920c92214c308a2b481ce87a1f5e.html" target="element"> FIN_AP-Invoices </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a757e7f8-a0bd-46f7-ac8d-b8779de522ee.html" target="element"> FIN_AP-Invoices </a> </td>
																		<td> <a href="../elements/a757e7f8-a0bd-46f7-ac8d-b8779de522ee.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/6bb59544-a0f7-48fc-9013-8000cc1fd827.html" target="element"> APRO Imaging </a> </td>
																		<td> <a href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html" target="element"> GAIA AP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c75ec8d5318f4709b4f12740058edcde.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c75ec8d5318f4709b4f12740058edcde.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6bb59544-a0f7-48fc-9013-8000cc1fd827.html" target="element"> APRO Imaging </a> </td>
																		<td> <a href="../elements/id-58828fc5f53943ddb5f992c79c118e38.html" target="element"> APRO inbox </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-8d3e8e25a8ea471ab454275cf23cb5f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d3e8e25a8ea471ab454275cf23cb5f5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-549f77aea3224a6aa30d72301a21cad1.html" target="element"> Download invoice </a> </td>
																		<td> <a href="../elements/id-58828fc5f53943ddb5f992c79c118e38.html" target="element"> APRO inbox </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-cd00e3c63e3a468bab1eee2c46ce328b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd00e3c63e3a468bab1eee2c46ce328b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/03326c90-417c-44e6-9763-b00d6d4b5940.html" target="element"> iTax4apps </a> </td>
																		<td> <a href="../elements/id-b801920c92214c308a2b481ce87a1f5e.html" target="element"> FIN_AP-Invoices </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4a8015e11824892a88d4e7658a0295f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4a8015e11824892a88d4e7658a0295f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/03326c90-417c-44e6-9763-b00d6d4b5940.html" target="element"> iTax4apps </a> </td>
																		<td> <a href="../elements/id-58828fc5f53943ddb5f992c79c118e38.html" target="element"> APRO inbox </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b5aca382-503c-417c-abaf-c86fc390a15c.html" target="element">  </a> </td>
																		<td> <a href="../elements/b5aca382-503c-417c-abaf-c86fc390a15c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/596e5de5-6ba6-4891-b50c-b32902c16693.html" target="element"> APRO CCM </a> </td>
																		<td> <a href="../elements/6bb59544-a0f7-48fc-9013-8000cc1fd827.html" target="element"> APRO Imaging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-997d1e25d35444e7bf98c2b09762a105.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-997d1e25d35444e7bf98c2b09762a105.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/596e5de5-6ba6-4891-b50c-b32902c16693.html" target="element"> APRO CCM </a> </td>
																		<td> <a href="../elements/id-58828fc5f53943ddb5f992c79c118e38.html" target="element"> APRO inbox </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-51c5c896c0a0442fb37932e9eaaa736d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51c5c896c0a0442fb37932e9eaaa736d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1a9aef003804773b18abe859b7f7790.html" target="element"> Outlook </a> </td>
																		<td> <a href="../elements/id-58828fc5f53943ddb5f992c79c118e38.html" target="element"> APRO inbox </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/c7b5e118-bb8b-4442-932c-69cfe75021c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/c7b5e118-bb8b-4442-932c-69cfe75021c4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b4ab7c06-5e4f-4799-a64a-19365d846fa2.html" target="element"> OCR </a> </td>
																		<td> <a href="../elements/6bb59544-a0f7-48fc-9013-8000cc1fd827.html" target="element"> APRO Imaging </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>