<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>HR - Employees</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>HR - Employees</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9aa6af2953cd4280ab943a1cb6491ea1.png" alt="HR - Employees" usemap="#id-9aa6af2953cd4280ab943a1cb6491ea1map"/>
			   <map name="id-9aa6af2953cd4280ab943a1cb6491ea1map">
				  		<area shape="rect" coords="965,895,1085,935" href="../elements/id-19fd38079a8f43d8ae00a25d26f96156.html"  target="element">
				  		<area shape="rect" coords="580,885,700,940" href="../elements/aca6d8b9-419c-44db-a2cf-910a53bf7db9.html"  target="element">
				  		<area shape="rect" coords="970,185,1090,225" href="../elements/0730b001-3ebd-4aca-ac16-ce8c04ffd65a.html"  target="element">
				  		<area shape="rect" coords="970,140,1090,180" href="../elements/97d792a6-3695-4f76-9796-fd5870c04515.html"  target="element">
				  		<area shape="rect" coords="970,90,1090,130" href="../elements/d878f8e0-55cc-4ed3-b6a1-8db25fc60ec1.html"  target="element">
				  		<area shape="rect" coords="970,235,1090,276" href="../elements/id-af573a88cc3446a18532e1306e5ef91a.html"  target="element">
				  		<area shape="rect" coords="575,230,695,285" href="../elements/id-c408d96415254c5882fdf3e5a70976ec.html"  target="element">
				  		<area shape="rect" coords="370,235,490,286" href="../elements/id-21f17ceadf7647908f6ed9ada7a30c6a.html"  target="element">
				  		<area shape="rect" coords="575,530,695,585" href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html"  target="element">
				  		<area shape="rect" coords="965,540,1085,585" href="../elements/59234039-73cf-4d74-9ee2-293363007980.html"  target="element">
				  		<area shape="rect" coords="970,305,1090,345" href="../elements/86a2e0a7-b2f9-417d-b156-781a129e7bd3.html"  target="element">
				  		<area shape="rect" coords="965,670,1085,706" href="../elements/5239f3e9-81e0-48fe-94aa-b1e59aaa6548.html"  target="element">
				  		<area shape="rect" coords="965,730,1085,775" href="../elements/id-9cf7180c7d9146448d5ee271fed6832b.html"  target="element">
				  		<area shape="rect" coords="575,300,695,355" href="../elements/aa2ff5e7-ee82-4843-8c28-2a1f0eb1f489.html"  target="element">
				  		<area shape="rect" coords="370,350,490,403" href="../elements/id-96b59fb858f44a98bf84b3aff40e04b2.html"  target="element">
				  		<area shape="rect" coords="575,660,695,715" href="../elements/36e7220f-9c7b-4006-b73a-996f670c11b7.html"  target="element">
				  		<area shape="rect" coords="965,605,1085,641" href="../elements/09589c17-4061-4f8e-9e42-d590bf0f5e17.html"  target="element">
				  		<area shape="rect" coords="575,595,695,650" href="../elements/d82eca9d-a5e5-4f99-8344-a8e63d81266d.html"  target="element">
				  		<area shape="rect" coords="370,670,490,701" href="../elements/b290ddfb-98ca-4981-a38f-3f9d010f79fa.html"  target="element">
				  		<area shape="rect" coords="575,425,695,481" href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html"  target="element">
				  		<area shape="rect" coords="575,725,695,780" href="../elements/id-5d3e770464454affa7dcc77873c3b28a.html"  target="element">
				  		<area shape="rect" coords="370,725,490,780" href="../elements/id-045e075d324c4d48a7a7882a5111525e.html"  target="element">
				  		<area shape="rect" coords="190,80,310,116" href="../elements/888e5ed1-d19f-459c-8be7-2825d835f088.html"  target="element">
				  		<area shape="rect" coords="190,135,310,219" href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html"  target="element">
				  		<area shape="rect" coords="15,260,145,840" href="../elements/id-110df7bb522d44899023c612b3d10d7d.html"  target="element">
				          <area shape="rect" coords="265,295,361,319" href="../objects/id-b388dc1ed8e14d9da924dbfd12cbd415.html" target="element" >
				          <area shape="rect" coords="85,180,181,204" href="../objects/id-9240cc4ae1974c5fa22a9483cf03c5b0.html" target="element" >
				  		<area shape="rect" coords="15,870,146,911" href="../elements/id-81906430140346aca3cb76499fa73d75.html"  target="element">
				  		<area shape="rect" coords="965,805,1085,840" href="../elements/id-f571ad9b17e9437e8c5d440fb6baa407.html"  target="element">
				          <area shape="rect" coords="965,55,1076,96" href="../objects/id-3bfed5da1b924da49de56d45e9f624a3.html" target="element" >
				          <area shape="rect" coords="585,55,711,84" href="../objects/id-d870c27f66454c5dbab1ae0468be00f3.html" target="element" >
				  		<area shape="rect" coords="575,805,695,841" href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html"  target="element">
				  				<area shape="rect" coords="370,605,490,636" href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html"  target="element">
				  				<area shape="rect" coords="370,450,490,481" href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html"  target="element">

				  		<area shape="rect" coords="355,420,501,651" href="../elements/id-2127b4d99a8849d5ba36793c64867ac5.html"  target="element">
				          <area shape="rect" coords="10,10,441,51" href="../objects/id-5ad19cdef9b549139ae946d737f35d0a.html" target="element" >
				          <area shape="rect" coords="205,55,299,84" href="../objects/id-c8f78727bb12450a9132efdec2a3e358.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">This view presents how Employee data is created, used, and shared across CMSE applications, providing clear insight into the key data flows and integrations.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-c8f78727bb12450a9132efdec2a3e358.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c8f78727bb12450a9132efdec2a3e358.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5ad19cdef9b549139ae946d737f35d0a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5ad19cdef9b549139ae946d737f35d0a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-2127b4d99a8849d5ba36793c64867ac5.html" target="element"> Boomi </a> </td>
											    <td> <a href="../elements/id-2127b4d99a8849d5ba36793c64867ac5.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html" target="element"> INT72 </a> </td>
													    <td> <a href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html" target="element"> INT63 </a> </td>
													    <td> <a href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html" target="element"> Azure AD </a> </td>
											    <td> <a href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-d870c27f66454c5dbab1ae0468be00f3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d870c27f66454c5dbab1ae0468be00f3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3bfed5da1b924da49de56d45e9f624a3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3bfed5da1b924da49de56d45e9f624a3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-f571ad9b17e9437e8c5d440fb6baa407.html" target="element"> SSO/MSA </a> </td>
											    <td> <a href="../elements/id-f571ad9b17e9437e8c5d440fb6baa407.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81906430140346aca3cb76499fa73d75.html" target="element"> RAQA_GDPRPersonalData </a> </td>
											    <td> <a href="../elements/id-81906430140346aca3cb76499fa73d75.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-9240cc4ae1974c5fa22a9483cf03c5b0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9240cc4ae1974c5fa22a9483cf03c5b0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b388dc1ed8e14d9da924dbfd12cbd415.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b388dc1ed8e14d9da924dbfd12cbd415.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-110df7bb522d44899023c612b3d10d7d.html" target="element"> HR_Employees </a> </td>
											    <td> <a href="../elements/id-110df7bb522d44899023c612b3d10d7d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
											    <td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/888e5ed1-d19f-459c-8be7-2825d835f088.html" target="element"> Workforce Management </a> </td>
											    <td> <a href="../elements/888e5ed1-d19f-459c-8be7-2825d835f088.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-045e075d324c4d48a7a7882a5111525e.html" target="element"> Sailpoint Virtual Appliance </a> </td>
											    <td> <a href="../elements/id-045e075d324c4d48a7a7882a5111525e.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d3e770464454affa7dcc77873c3b28a.html" target="element"> IdentityNow </a> </td>
											    <td> <a href="../elements/id-5d3e770464454affa7dcc77873c3b28a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
											    <td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b290ddfb-98ca-4981-a38f-3f9d010f79fa.html" target="element"> INT39 </a> </td>
											    <td> <a href="../elements/b290ddfb-98ca-4981-a38f-3f9d010f79fa.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d82eca9d-a5e5-4f99-8344-a8e63d81266d.html" target="element"> Meridian </a> </td>
											    <td> <a href="../elements/d82eca9d-a5e5-4f99-8344-a8e63d81266d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/09589c17-4061-4f8e-9e42-d590bf0f5e17.html" target="element"> MyLearning Platform </a> </td>
											    <td> <a href="../elements/09589c17-4061-4f8e-9e42-d590bf0f5e17.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/36e7220f-9c7b-4006-b73a-996f670c11b7.html" target="element"> Org.Manager </a> </td>
											    <td> <a href="../elements/36e7220f-9c7b-4006-b73a-996f670c11b7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-96b59fb858f44a98bf84b3aff40e04b2.html" target="element"> IT_Employees </a> </td>
											    <td> <a href="../elements/id-96b59fb858f44a98bf84b3aff40e04b2.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aa2ff5e7-ee82-4843-8c28-2a1f0eb1f489.html" target="element"> CONCUR </a> </td>
											    <td> <a href="../elements/aa2ff5e7-ee82-4843-8c28-2a1f0eb1f489.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9cf7180c7d9146448d5ee271fed6832b.html" target="element"> Identity Management </a> </td>
											    <td> <a href="../elements/id-9cf7180c7d9146448d5ee271fed6832b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5239f3e9-81e0-48fe-94aa-b1e59aaa6548.html" target="element"> Organization Chart </a> </td>
											    <td> <a href="../elements/5239f3e9-81e0-48fe-94aa-b1e59aaa6548.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/86a2e0a7-b2f9-417d-b156-781a129e7bd3.html" target="element"> Expense report Management </a> </td>
											    <td> <a href="../elements/86a2e0a7-b2f9-417d-b156-781a129e7bd3.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/59234039-73cf-4d74-9ee2-293363007980.html" target="element"> Manual Expense reports </a> </td>
											    <td> <a href="../elements/59234039-73cf-4d74-9ee2-293363007980.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html" target="element"> GAIA AP </a> </td>
											    <td> <a href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-21f17ceadf7647908f6ed9ada7a30c6a.html" target="element"> HR_Employees </a> </td>
											    <td> <a href="../elements/id-21f17ceadf7647908f6ed9ada7a30c6a.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c408d96415254c5882fdf3e5a70976ec.html" target="element"> AFAS </a> </td>
											    <td> <a href="../elements/id-c408d96415254c5882fdf3e5a70976ec.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af573a88cc3446a18532e1306e5ef91a.html" target="element"> AFAS InSite </a> </td>
											    <td> <a href="../elements/id-af573a88cc3446a18532e1306e5ef91a.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d878f8e0-55cc-4ed3-b6a1-8db25fc60ec1.html" target="element"> Absence Management </a> </td>
											    <td> <a href="../elements/d878f8e0-55cc-4ed3-b6a1-8db25fc60ec1.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/97d792a6-3695-4f76-9796-fd5870c04515.html" target="element"> Performance Management </a> </td>
											    <td> <a href="../elements/97d792a6-3695-4f76-9796-fd5870c04515.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0730b001-3ebd-4aca-ac16-ce8c04ffd65a.html" target="element"> Onboarding / Offboarding </a> </td>
											    <td> <a href="../elements/0730b001-3ebd-4aca-ac16-ce8c04ffd65a.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aca6d8b9-419c-44db-a2cf-910a53bf7db9.html" target="element"> Vivantio (INCA) </a> </td>
											    <td> <a href="../elements/aca6d8b9-419c-44db-a2cf-910a53bf7db9.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-19fd38079a8f43d8ae00a25d26f96156.html" target="element"> IT Service Management </a> </td>
											    <td> <a href="../elements/id-19fd38079a8f43d8ae00a25d26f96156.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-f906c2ec9c1e487c8ff23763cee7cf3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f906c2ec9c1e487c8ff23763cee7cf3c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2127b4d99a8849d5ba36793c64867ac5.html" target="element"> Boomi </a> </td>
																		<td> <a href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html" target="element"> INT72 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2150e3d2e9d8446ca7c5475c274d1ec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2150e3d2e9d8446ca7c5475c274d1ec4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2127b4d99a8849d5ba36793c64867ac5.html" target="element"> Boomi </a> </td>
																		<td> <a href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html" target="element"> INT63 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/307c122f-2d35-4f3e-823e-2cc40db3b72c.html" target="element">  </a> </td>
																				<td> <a href="../elements/307c122f-2d35-4f3e-823e-2cc40db3b72c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html" target="element"> INT72 </a> </td>
																				<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/04ca20f3-be3c-40a6-839f-65dd76c16946.html" target="element">  </a> </td>
																				<td> <a href="../elements/04ca20f3-be3c-40a6-839f-65dd76c16946.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html" target="element"> INT63 </a> </td>
																				<td> <a href="../elements/d82eca9d-a5e5-4f99-8344-a8e63d81266d.html" target="element"> Meridian </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e1ddcfc7ae8b4664a332dea4096e5ba7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1ddcfc7ae8b4664a332dea4096e5ba7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html" target="element"> Azure AD </a> </td>
																		<td> <a href="../elements/id-f571ad9b17e9437e8c5d440fb6baa407.html" target="element"> SSO/MSA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b093e1ba2494f87b664979424fe6807.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/id-8b093e1ba2494f87b664979424fe6807.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html" target="element"> Azure AD </a> </td>
																		<td> <a href="../elements/aca6d8b9-419c-44db-a2cf-910a53bf7db9.html" target="element"> Vivantio (INCA) </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-cb22f3bb4b0f4219b822521dfcbd7be0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb22f3bb4b0f4219b822521dfcbd7be0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-110df7bb522d44899023c612b3d10d7d.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/id-81906430140346aca3cb76499fa73d75.html" target="element"> RAQA_GDPRPersonalData </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74ab30210bd340429d681f19db009483.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74ab30210bd340429d681f19db009483.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-110df7bb522d44899023c612b3d10d7d.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html" target="element"> INT72 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4950b787fd1b4a448e650e8b897bfdbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4950b787fd1b4a448e650e8b897bfdbc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-110df7bb522d44899023c612b3d10d7d.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/id-045e075d324c4d48a7a7882a5111525e.html" target="element"> Sailpoint Virtual Appliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0d7600c05214528bb09d895d1fae857.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0d7600c05214528bb09d895d1fae857.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-110df7bb522d44899023c612b3d10d7d.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html" target="element"> INT63 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a05b877ff90e471e91cc1d4fcb0364fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a05b877ff90e471e91cc1d4fcb0364fd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-110df7bb522d44899023c612b3d10d7d.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/b290ddfb-98ca-4981-a38f-3f9d010f79fa.html" target="element"> INT39 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d8a534f288242a3861a5b3cfae5a102.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d8a534f288242a3861a5b3cfae5a102.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-110df7bb522d44899023c612b3d10d7d.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/id-96b59fb858f44a98bf84b3aff40e04b2.html" target="element"> IT_Employees </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-521765caf934473aa2e2e4a3e996fc19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-521765caf934473aa2e2e4a3e996fc19.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-110df7bb522d44899023c612b3d10d7d.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/id-21f17ceadf7647908f6ed9ada7a30c6a.html" target="element"> HR_Employees </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-35f4c13093b9407cb93fcf9d0b0f8771.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35f4c13093b9407cb93fcf9d0b0f8771.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-110df7bb522d44899023c612b3d10d7d.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html" target="element"> Azure AD </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c90247dd-3e5b-4577-9142-a9369fd9495f.html" target="element">  </a> </td>
																		<td> <a href="../elements/c90247dd-3e5b-4577-9142-a9369fd9495f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																		<td> <a href="../elements/888e5ed1-d19f-459c-8be7-2825d835f088.html" target="element"> Workforce Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-58a62e93a6c54b5481459cd72dcc90df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58a62e93a6c54b5481459cd72dcc90df.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																		<td> <a href="../elements/id-110df7bb522d44899023c612b3d10d7d.html" target="element"> HR_Employees </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c56759f4d7884ea68e8b0977ff6e0af5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c56759f4d7884ea68e8b0977ff6e0af5.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																		<td> <a href="../elements/id-045e075d324c4d48a7a7882a5111525e.html" target="element"> Sailpoint Virtual Appliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0c818761-308a-4336-a3a2-7048ffab26bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/0c818761-308a-4336-a3a2-7048ffab26bc.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																		<td> <a href="../elements/11de12a4-23dc-40d9-be02-61008cdea19a.html" target="element"> INT72 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-26a6bdcbb0cc4c6eb7c67cd0523588e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26a6bdcbb0cc4c6eb7c67cd0523588e4.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																		<td> <a href="../elements/id-21f17ceadf7647908f6ed9ada7a30c6a.html" target="element"> HR_Employees </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d3cb47ce-5e61-44ea-bd4b-d201a6bba947.html" target="element">  </a> </td>
																		<td> <a href="../elements/d3cb47ce-5e61-44ea-bd4b-d201a6bba947.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																		<td> <a href="../elements/d878f8e0-55cc-4ed3-b6a1-8db25fc60ec1.html" target="element"> Absence Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fcb11736-24ed-4294-82e6-12e0d08ebcd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/fcb11736-24ed-4294-82e6-12e0d08ebcd2.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																		<td> <a href="../elements/97d792a6-3695-4f76-9796-fd5870c04515.html" target="element"> Performance Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7688ed76c06e42778e48e3a83e5a580a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7688ed76c06e42778e48e3a83e5a580a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/0d363a6a-865f-44d7-b807-98563e08a5fb.html" target="element"> Oracle HCM </a> </td>
																		<td> <a href="../elements/0730b001-3ebd-4aca-ac16-ce8c04ffd65a.html" target="element"> Onboarding / Offboarding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8238b7a91be0462d86b68157e4036478.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8238b7a91be0462d86b68157e4036478.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-045e075d324c4d48a7a7882a5111525e.html" target="element"> Sailpoint Virtual Appliance </a> </td>
																		<td> <a href="../elements/id-5d3e770464454affa7dcc77873c3b28a.html" target="element"> IdentityNow </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6c1078c69ab8414a96defd7042162566.html" target="element"> IT _UserAccount </a> </td>
																		<td> <a href="../elements/id-6c1078c69ab8414a96defd7042162566.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d3e770464454affa7dcc77873c3b28a.html" target="element"> IdentityNow </a> </td>
																		<td> <a href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html" target="element"> Azure AD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-afc3dbc72eeb4644b0873bf9a812bc90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afc3dbc72eeb4644b0873bf9a812bc90.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d3e770464454affa7dcc77873c3b28a.html" target="element"> IdentityNow </a> </td>
																		<td> <a href="../elements/id-9cf7180c7d9146448d5ee271fed6832b.html" target="element"> Identity Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/58a15e1a-2ef5-473a-92a1-5b8956f3ca57.html" target="element">  </a> </td>
																		<td> <a href="../elements/58a15e1a-2ef5-473a-92a1-5b8956f3ca57.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																		<td> <a href="../elements/dfa5b032-3b99-4985-a8e5-7b5996071184.html" target="element"> INT63 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6bd3e4f9-5d41-4c19-b32a-8b80c9a8a294.html" target="element">  </a> </td>
																		<td> <a href="../elements/6bd3e4f9-5d41-4c19-b32a-8b80c9a8a294.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																		<td> <a href="../elements/b290ddfb-98ca-4981-a38f-3f9d010f79fa.html" target="element"> INT39 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-48e891004b3045a8b9f84500375a256e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48e891004b3045a8b9f84500375a256e.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																		<td> <a href="../elements/id-96b59fb858f44a98bf84b3aff40e04b2.html" target="element"> IT_Employees </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a6d14dc7-9a72-42b2-9565-d98abeebadf8.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/a6d14dc7-9a72-42b2-9565-d98abeebadf8.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/93f4f424-4697-43d9-8698-5b13a382f0c7.html" target="element"> GAIA HR </a> </td>
																		<td> <a href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html" target="element"> GAIA AP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5c12702c-a7fe-429e-9f90-4dcf126fa141.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c12702c-a7fe-429e-9f90-4dcf126fa141.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/b290ddfb-98ca-4981-a38f-3f9d010f79fa.html" target="element"> INT39 </a> </td>
																		<td> <a href="../elements/36e7220f-9c7b-4006-b73a-996f670c11b7.html" target="element"> Org.Manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e1f46f1e-d1de-4e6b-944f-4c8f96dadfa2.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1f46f1e-d1de-4e6b-944f-4c8f96dadfa2.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/d82eca9d-a5e5-4f99-8344-a8e63d81266d.html" target="element"> Meridian </a> </td>
																		<td> <a href="../elements/09589c17-4061-4f8e-9e42-d590bf0f5e17.html" target="element"> MyLearning Platform </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/27d28116-619c-4c53-beb3-fa2d607925c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/27d28116-619c-4c53-beb3-fa2d607925c7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/36e7220f-9c7b-4006-b73a-996f670c11b7.html" target="element"> Org.Manager </a> </td>
																		<td> <a href="../elements/5239f3e9-81e0-48fe-94aa-b1e59aaa6548.html" target="element"> Organization Chart </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f209100c8697470d841e56f9e6ff2a78.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f209100c8697470d841e56f9e6ff2a78.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-96b59fb858f44a98bf84b3aff40e04b2.html" target="element"> IT_Employees </a> </td>
																		<td> <a href="../elements/aa2ff5e7-ee82-4843-8c28-2a1f0eb1f489.html" target="element"> CONCUR </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/812baacf-eae9-4580-9225-9999119fab47.html" target="element">  </a> </td>
																		<td> <a href="../elements/812baacf-eae9-4580-9225-9999119fab47.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/aa2ff5e7-ee82-4843-8c28-2a1f0eb1f489.html" target="element"> CONCUR </a> </td>
																		<td> <a href="../elements/86a2e0a7-b2f9-417d-b156-781a129e7bd3.html" target="element"> Expense report Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4f4b2f97-853d-463e-bd44-592d7c1e8a3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f4b2f97-853d-463e-bd44-592d7c1e8a3c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/b8ef583b-e135-41c2-b447-a0853a284bf2.html" target="element"> GAIA AP </a> </td>
																		<td> <a href="../elements/59234039-73cf-4d74-9ee2-293363007980.html" target="element"> Manual Expense reports </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b403849c808844528032de1e360ec2c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b403849c808844528032de1e360ec2c9.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21f17ceadf7647908f6ed9ada7a30c6a.html" target="element"> HR_Employees </a> </td>
																		<td> <a href="../elements/id-c408d96415254c5882fdf3e5a70976ec.html" target="element"> AFAS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e4794147a52d42928e6eeac04abfcd38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4794147a52d42928e6eeac04abfcd38.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c408d96415254c5882fdf3e5a70976ec.html" target="element"> AFAS </a> </td>
																		<td> <a href="../elements/id-af573a88cc3446a18532e1306e5ef91a.html" target="element"> AFAS InSite </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cc881168aac441bf9f65de3957981245.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc881168aac441bf9f65de3957981245.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/aca6d8b9-419c-44db-a2cf-910a53bf7db9.html" target="element"> Vivantio (INCA) </a> </td>
																		<td> <a href="../elements/id-19fd38079a8f43d8ae00a25d26f96156.html" target="element"> IT Service Management </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>