<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>CRM - Contact persons</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>CRM - Contact persons</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a0fecca9bc3a4106b588cb1d53ad17b1.png" alt="CRM - Contact persons" usemap="#id-a0fecca9bc3a4106b588cb1d53ad17b1map"/>
			   <map name="id-a0fecca9bc3a4106b588cb1d53ad17b1map">
				  		<area shape="rect" coords="965,125,1085,156" href="../elements/0fe0f59a-32c8-4a93-b6d6-5938da631bf0.html"  target="element">
				  		<area shape="rect" coords="965,360,1085,396" href="../elements/id-893d87b2ca3643c883a21df4a74c2bae.html"  target="element">
				  		<area shape="rect" coords="965,305,1085,345" href="../elements/id-8ad2b8c3c8314975bfef2d2b3aa500d1.html"  target="element">
				  		<area shape="rect" coords="965,245,1085,285" href="../elements/id-9d28e90b812649af889b91568a84ec4e.html"  target="element">
				  				<area shape="rect" coords="720,355,840,410" href="../elements/ed9aa49d-2421-4264-930f-b189e477e92c.html"  target="element">
				  				<area shape="rect" coords="720,295,840,350" href="../elements/id-d141f4ee4c304f8ca7beb7201a0c12f6.html"  target="element">
				  				<area shape="rect" coords="720,230,840,290" href="../elements/id-d875e18900e146aab94f4dc06a650011.html"  target="element">
				  				<area shape="rect" coords="590,230,710,411" href="../elements/02c5b4c0-452c-4415-84c5-930c011164a0.html"  target="element">

				  		<area shape="rect" coords="565,195,858,420" href="../elements/id-a6f25e6e190349aa87d0541fccf77027.html"  target="element">
				          <area shape="rect" coords="260,200,356,224" href="../objects/id-34e674f39eda4e67ba26c6b77d3618e8.html" target="element" >
				          <area shape="rect" coords="85,170,181,194" href="../objects/id-632b3f30a2f0414ea4ec6eb1d1cf5743.html" target="element" >
				  		<area shape="rect" coords="965,165,1085,201" href="../elements/3e57ab66-dc75-491a-9ab2-eb541a7ed3e3.html"  target="element">
				  		<area shape="rect" coords="190,90,310,121" href="../elements/0fe0f59a-32c8-4a93-b6d6-5938da631bf0.html"  target="element">
				  		<area shape="rect" coords="15,780,146,821" href="../elements/id-81906430140346aca3cb76499fa73d75.html"  target="element">
				  		<area shape="rect" coords="965,415,1085,456" href="../elements/cc49a529-cb99-4352-9927-ac3d3ed613c1.html"  target="element">
				  		<area shape="rect" coords="965,460,1085,492" href="../elements/c8a4f873-1a40-4688-9dfd-b33dd384fc34.html"  target="element">
				  		<area shape="rect" coords="965,495,1085,525" href="../elements/b6483f2a-1001-4205-861f-fbf4087329c7.html"  target="element">
				  				<area shape="rect" coords="720,465,840,520" href="../elements/92a01b4d-140f-4962-a3ce-18f7075de66c.html"  target="element">
				  				<area shape="rect" coords="585,465,705,520" href="../elements/4ebd7f33-cab8-462f-b989-7f903a422646.html"  target="element">

				  		<area shape="rect" coords="565,435,861,530" href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html"  target="element">
				  		<area shape="rect" coords="735,690,855,725" href="../elements/id-f571ad9b17e9437e8c5d440fb6baa407.html"  target="element">
				  		<area shape="rect" coords="965,650,1085,686" href="../elements/6f4bc78a-763f-42d9-ad58-624ba9b364ca.html"  target="element">
				  		<area shape="rect" coords="965,600,1085,635" href="../elements/bc8de401-5ae2-4e78-94b9-70ff4f04ab77.html"  target="element">
				          <area shape="rect" coords="965,55,1076,96" href="../objects/id-c0576987fae0439e822eb537c89e41a0.html" target="element" >
				          <area shape="rect" coords="600,730,696,756" href="../objects/id-2632205de8dc4c1b980c983d3c463cc0.html" target="element" >
				          <area shape="rect" coords="585,55,711,84" href="../objects/id-56db7f68cba5423b84ce79fdbde7cef1.html" target="element" >
				  		<area shape="rect" coords="585,690,705,726" href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html"  target="element">
				  		<area shape="rect" coords="585,620,705,675" href="../elements/ad7b5cd6-6d58-4812-ae28-06e230c29587.html"  target="element">
				  				<area shape="rect" coords="390,435,487,486" href="../elements/f3a89e8a-eee6-4d5f-9e9e-254fe3fbd2c0.html"  target="element">
				  				<area shape="rect" coords="385,685,481,736" href="../elements/id-945f8f491d784db58c80c49f9ef9d9f2.html"  target="element">

				  		<area shape="rect" coords="365,250,511,750" href="../elements/id-2127b4d99a8849d5ba36793c64867ac5.html"  target="element">
				          <area shape="rect" coords="10,10,441,51" href="../objects/id-0dd1a55c2a5546099dfdc0dfe144d30b.html" target="element" >
				          <area shape="rect" coords="205,55,299,84" href="../objects/id-87c0f35e1f0444598af9547251d05b35.html" target="element" >
				  		<area shape="rect" coords="190,140,310,195" href="../elements/02f9000a-a5bb-4d23-9f56-fabd092defea.html"  target="element">
				  		<area shape="rect" coords="15,250,146,746" href="../elements/id-a29c684bfff04cd3924fe6971a4bdd14.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">This view presents how Customer contact person data is created, used, and shared across CMSE applications, providing clear insight into the key data flows and integrations.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a29c684bfff04cd3924fe6971a4bdd14.html" target="element"> CRM_ContactPersons </a> </td>
											    <td> <a href="../elements/id-a29c684bfff04cd3924fe6971a4bdd14.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/02f9000a-a5bb-4d23-9f56-fabd092defea.html" target="element"> Sales Cloud </a> </td>
											    <td> <a href="../elements/02f9000a-a5bb-4d23-9f56-fabd092defea.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-87c0f35e1f0444598af9547251d05b35.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-87c0f35e1f0444598af9547251d05b35.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0dd1a55c2a5546099dfdc0dfe144d30b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0dd1a55c2a5546099dfdc0dfe144d30b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-2127b4d99a8849d5ba36793c64867ac5.html" target="element"> Boomi </a> </td>
											    <td> <a href="../elements/id-2127b4d99a8849d5ba36793c64867ac5.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-945f8f491d784db58c80c49f9ef9d9f2.html" target="element"> INT85 </a> </td>
													    <td> <a href="../elements/id-945f8f491d784db58c80c49f9ef9d9f2.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f3a89e8a-eee6-4d5f-9e9e-254fe3fbd2c0.html" target="element"> INT88 </a> </td>
													    <td> <a href="../elements/f3a89e8a-eee6-4d5f-9e9e-254fe3fbd2c0.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ad7b5cd6-6d58-4812-ae28-06e230c29587.html" target="element"> Oracle Service Cloud </a> </td>
											    <td> <a href="../elements/ad7b5cd6-6d58-4812-ae28-06e230c29587.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html" target="element"> Azure AD </a> </td>
											    <td> <a href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-56db7f68cba5423b84ce79fdbde7cef1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-56db7f68cba5423b84ce79fdbde7cef1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2632205de8dc4c1b980c983d3c463cc0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2632205de8dc4c1b980c983d3c463cc0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c0576987fae0439e822eb537c89e41a0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c0576987fae0439e822eb537c89e41a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/bc8de401-5ae2-4e78-94b9-70ff4f04ab77.html" target="element"> Backoffice Service </a> </td>
											    <td> <a href="../elements/bc8de401-5ae2-4e78-94b9-70ff4f04ab77.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6f4bc78a-763f-42d9-ad58-624ba9b364ca.html" target="element"> Customer portal </a> </td>
											    <td> <a href="../elements/6f4bc78a-763f-42d9-ad58-624ba9b364ca.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f571ad9b17e9437e8c5d440fb6baa407.html" target="element"> SSO/MSA </a> </td>
											    <td> <a href="../elements/id-f571ad9b17e9437e8c5d440fb6baa407.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html" target="element"> GAIA - EBS </a> </td>
											    <td> <a href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4ebd7f33-cab8-462f-b989-7f903a422646.html" target="element"> GAIA AR </a> </td>
													    <td> <a href="../elements/4ebd7f33-cab8-462f-b989-7f903a422646.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/92a01b4d-140f-4962-a3ce-18f7075de66c.html" target="element"> GAIA Service </a> </td>
													    <td> <a href="../elements/92a01b4d-140f-4962-a3ce-18f7075de66c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b6483f2a-1001-4205-861f-fbf4087329c7.html" target="element"> Service Billing </a> </td>
											    <td> <a href="../elements/b6483f2a-1001-4205-861f-fbf4087329c7.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c8a4f873-1a40-4688-9dfd-b33dd384fc34.html" target="element"> Installed base </a> </td>
											    <td> <a href="../elements/c8a4f873-1a40-4688-9dfd-b33dd384fc34.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc49a529-cb99-4352-9927-ac3d3ed613c1.html" target="element"> Service Contract Mgmt </a> </td>
											    <td> <a href="../elements/cc49a529-cb99-4352-9927-ac3d3ed613c1.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81906430140346aca3cb76499fa73d75.html" target="element"> RAQA_GDPRPersonalData </a> </td>
											    <td> <a href="../elements/id-81906430140346aca3cb76499fa73d75.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0fe0f59a-32c8-4a93-b6d6-5938da631bf0.html" target="element"> Core CRM </a> </td>
											    <td> <a href="../elements/0fe0f59a-32c8-4a93-b6d6-5938da631bf0.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e57ab66-dc75-491a-9ab2-eb541a7ed3e3.html" target="element"> Partner Community </a> </td>
											    <td> <a href="../elements/3e57ab66-dc75-491a-9ab2-eb541a7ed3e3.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-632b3f30a2f0414ea4ec6eb1d1cf5743.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-632b3f30a2f0414ea4ec6eb1d1cf5743.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-34e674f39eda4e67ba26c6b77d3618e8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-34e674f39eda4e67ba26c6b77d3618e8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-a6f25e6e190349aa87d0541fccf77027.html" target="element"> Salesforce Europe </a> </td>
											    <td> <a href="../elements/id-a6f25e6e190349aa87d0541fccf77027.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/02c5b4c0-452c-4415-84c5-930c011164a0.html" target="element"> Sales Cloud (EU) </a> </td>
													    <td> <a href="../elements/02c5b4c0-452c-4415-84c5-930c011164a0.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d875e18900e146aab94f4dc06a650011.html" target="element"> B2B Commerce Cloud </a> </td>
													    <td> <a href="../elements/id-d875e18900e146aab94f4dc06a650011.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d141f4ee4c304f8ca7beb7201a0c12f6.html" target="element"> Marketing cloud </a> </td>
													    <td> <a href="../elements/id-d141f4ee4c304f8ca7beb7201a0c12f6.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ed9aa49d-2421-4264-930f-b189e477e92c.html" target="element"> ComplianceQuest </a> </td>
													    <td> <a href="../elements/ed9aa49d-2421-4264-930f-b189e477e92c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9d28e90b812649af889b91568a84ec4e.html" target="element"> HERMES  / Second Life sales </a> </td>
											    <td> <a href="../elements/id-9d28e90b812649af889b91568a84ec4e.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ad2b8c3c8314975bfef2d2b3aa500d1.html" target="element"> Marketing automation </a> </td>
											    <td> <a href="../elements/id-8ad2b8c3c8314975bfef2d2b3aa500d1.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-893d87b2ca3643c883a21df4a74c2bae.html" target="element"> Complaints </a> </td>
											    <td> <a href="../elements/id-893d87b2ca3643c883a21df4a74c2bae.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0fe0f59a-32c8-4a93-b6d6-5938da631bf0.html" target="element"> Core CRM </a> </td>
											    <td> <a href="../elements/0fe0f59a-32c8-4a93-b6d6-5938da631bf0.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-95e7ba96e4f540a2aa1a048fb9f22a91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95e7ba96e4f540a2aa1a048fb9f22a91.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a29c684bfff04cd3924fe6971a4bdd14.html" target="element"> CRM_ContactPersons </a> </td>
																		<td> <a href="../elements/f3a89e8a-eee6-4d5f-9e9e-254fe3fbd2c0.html" target="element"> INT88 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c604fec7f37d469b8d16104c587f5fb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c604fec7f37d469b8d16104c587f5fb0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a29c684bfff04cd3924fe6971a4bdd14.html" target="element"> CRM_ContactPersons </a> </td>
																		<td> <a href="../elements/id-945f8f491d784db58c80c49f9ef9d9f2.html" target="element"> INT85 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-924fdc5f066147c7a028a1b239e1f037.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-924fdc5f066147c7a028a1b239e1f037.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a29c684bfff04cd3924fe6971a4bdd14.html" target="element"> CRM_ContactPersons </a> </td>
																		<td> <a href="../elements/id-81906430140346aca3cb76499fa73d75.html" target="element"> RAQA_GDPRPersonalData </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a3d7655c-b318-4b2b-8d47-6150bf6073f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/a3d7655c-b318-4b2b-8d47-6150bf6073f1.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/02f9000a-a5bb-4d23-9f56-fabd092defea.html" target="element"> Sales Cloud </a> </td>
																		<td> <a href="../elements/f3a89e8a-eee6-4d5f-9e9e-254fe3fbd2c0.html" target="element"> INT88 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c3af788833f4b86a1463435e2a32296.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c3af788833f4b86a1463435e2a32296.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/02f9000a-a5bb-4d23-9f56-fabd092defea.html" target="element"> Sales Cloud </a> </td>
																		<td> <a href="../elements/id-a29c684bfff04cd3924fe6971a4bdd14.html" target="element"> CRM_ContactPersons </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/035f35b6-f230-4aab-80b6-f84ca0633c1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/035f35b6-f230-4aab-80b6-f84ca0633c1d.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/02f9000a-a5bb-4d23-9f56-fabd092defea.html" target="element"> Sales Cloud </a> </td>
																		<td> <a href="../elements/0fe0f59a-32c8-4a93-b6d6-5938da631bf0.html" target="element"> Core CRM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7c0a5551-ca30-4632-ade0-2be47691f192.html" target="element">  </a> </td>
																		<td> <a href="../elements/7c0a5551-ca30-4632-ade0-2be47691f192.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/02f9000a-a5bb-4d23-9f56-fabd092defea.html" target="element"> Sales Cloud </a> </td>
																		<td> <a href="../elements/3e57ab66-dc75-491a-9ab2-eb541a7ed3e3.html" target="element"> Partner Community </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/035f35b6-f230-4aab-80b6-f84ca0633c1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/035f35b6-f230-4aab-80b6-f84ca0633c1d.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/02f9000a-a5bb-4d23-9f56-fabd092defea.html" target="element"> Sales Cloud </a> </td>
																		<td> <a href="../elements/0fe0f59a-32c8-4a93-b6d6-5938da631bf0.html" target="element"> Core CRM </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-c488db7d6b7e4054b3d05efef45b6670.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c488db7d6b7e4054b3d05efef45b6670.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2127b4d99a8849d5ba36793c64867ac5.html" target="element"> Boomi </a> </td>
																		<td> <a href="../elements/id-945f8f491d784db58c80c49f9ef9d9f2.html" target="element"> INT85 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-99eb934bc4e14050b94a9771b0c99bc7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-99eb934bc4e14050b94a9771b0c99bc7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2127b4d99a8849d5ba36793c64867ac5.html" target="element"> Boomi </a> </td>
																		<td> <a href="../elements/f3a89e8a-eee6-4d5f-9e9e-254fe3fbd2c0.html" target="element"> INT88 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0a7743747b1b44ddb4ee17a799674a31.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0a7743747b1b44ddb4ee17a799674a31.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-945f8f491d784db58c80c49f9ef9d9f2.html" target="element"> INT85 </a> </td>
																				<td> <a href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html" target="element"> Azure AD </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9fab356838274b2384b574cde4caca0c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9fab356838274b2384b574cde4caca0c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/f3a89e8a-eee6-4d5f-9e9e-254fe3fbd2c0.html" target="element"> INT88 </a> </td>
																				<td> <a href="../elements/id-945f8f491d784db58c80c49f9ef9d9f2.html" target="element"> INT85 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b429f39e-2223-46de-b05a-83ea3fb9a27b.html" target="element">  </a> </td>
																				<td> <a href="../elements/b429f39e-2223-46de-b05a-83ea3fb9a27b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/f3a89e8a-eee6-4d5f-9e9e-254fe3fbd2c0.html" target="element"> INT88 </a> </td>
																				<td> <a href="../elements/02c5b4c0-452c-4415-84c5-930c011164a0.html" target="element"> Sales Cloud (EU) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e62fbe31-abb0-4edf-a502-0adcf23d832d.html" target="element">  </a> </td>
																				<td> <a href="../elements/e62fbe31-abb0-4edf-a502-0adcf23d832d.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/f3a89e8a-eee6-4d5f-9e9e-254fe3fbd2c0.html" target="element"> INT88 </a> </td>
																				<td> <a href="../elements/4ebd7f33-cab8-462f-b989-7f903a422646.html" target="element"> GAIA AR </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6af38b97-3722-4f9d-91a7-db0901d48d60.html" target="element">  </a> </td>
																				<td> <a href="../elements/6af38b97-3722-4f9d-91a7-db0901d48d60.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/f3a89e8a-eee6-4d5f-9e9e-254fe3fbd2c0.html" target="element"> INT88 </a> </td>
																				<td> <a href="../elements/ad7b5cd6-6d58-4812-ae28-06e230c29587.html" target="element"> Oracle Service Cloud </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/db2b07fe-eaf7-4bb1-8dd0-652797a3194f.html" target="element">  </a> </td>
																		<td> <a href="../elements/db2b07fe-eaf7-4bb1-8dd0-652797a3194f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/ad7b5cd6-6d58-4812-ae28-06e230c29587.html" target="element"> Oracle Service Cloud </a> </td>
																		<td> <a href="../elements/bc8de401-5ae2-4e78-94b9-70ff4f04ab77.html" target="element"> Backoffice Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1045cec9-b06e-47e7-b653-b329a98d9a52.html" target="element">  </a> </td>
																		<td> <a href="../elements/1045cec9-b06e-47e7-b653-b329a98d9a52.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/ad7b5cd6-6d58-4812-ae28-06e230c29587.html" target="element"> Oracle Service Cloud </a> </td>
																		<td> <a href="../elements/6f4bc78a-763f-42d9-ad58-624ba9b364ca.html" target="element"> Customer portal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e1ddcfc7ae8b4664a332dea4096e5ba7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1ddcfc7ae8b4664a332dea4096e5ba7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-af8c2d4ac291491ba0d064972d40bd39.html" target="element"> Azure AD </a> </td>
																		<td> <a href="../elements/id-f571ad9b17e9437e8c5d440fb6baa407.html" target="element"> SSO/MSA </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-e36a1b282d9e466c889257f083b29fab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e36a1b282d9e466c889257f083b29fab.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f571ad9b17e9437e8c5d440fb6baa407.html" target="element"> SSO/MSA </a> </td>
																		<td> <a href="../elements/6f4bc78a-763f-42d9-ad58-624ba9b364ca.html" target="element"> Customer portal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7b206123-0a1a-4eb2-b13e-ba8b08c747c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/7b206123-0a1a-4eb2-b13e-ba8b08c747c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html" target="element"> GAIA - EBS </a> </td>
																		<td> <a href="../elements/92a01b4d-140f-4962-a3ce-18f7075de66c.html" target="element"> GAIA Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0a217781-4c08-4775-b0b1-759f530aacf6.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a217781-4c08-4775-b0b1-759f530aacf6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/be118713-d9a4-4384-8c54-f37bfc1f0e49.html" target="element"> GAIA - EBS </a> </td>
																		<td> <a href="../elements/4ebd7f33-cab8-462f-b989-7f903a422646.html" target="element"> GAIA AR </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/a16dbd30-37bc-4d69-8a67-2a0b772abae0.html" target="element">  </a> </td>
																				<td> <a href="../elements/a16dbd30-37bc-4d69-8a67-2a0b772abae0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/92a01b4d-140f-4962-a3ce-18f7075de66c.html" target="element"> GAIA Service </a> </td>
																				<td> <a href="../elements/b6483f2a-1001-4205-861f-fbf4087329c7.html" target="element"> Service Billing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/827ebc56-3210-4c91-a4e8-9020f96541a7.html" target="element">  </a> </td>
																				<td> <a href="../elements/827ebc56-3210-4c91-a4e8-9020f96541a7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/92a01b4d-140f-4962-a3ce-18f7075de66c.html" target="element"> GAIA Service </a> </td>
																				<td> <a href="../elements/c8a4f873-1a40-4688-9dfd-b33dd384fc34.html" target="element"> Installed base </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/101f98b4-2da5-4535-950b-6aae48a5d999.html" target="element">  </a> </td>
																				<td> <a href="../elements/101f98b4-2da5-4535-950b-6aae48a5d999.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/92a01b4d-140f-4962-a3ce-18f7075de66c.html" target="element"> GAIA Service </a> </td>
																				<td> <a href="../elements/cc49a529-cb99-4352-9927-ac3d3ed613c1.html" target="element"> Service Contract Mgmt </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-c5fb4e8ce64e4b10911e0f62078efadb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5fb4e8ce64e4b10911e0f62078efadb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6f25e6e190349aa87d0541fccf77027.html" target="element"> Salesforce Europe </a> </td>
																		<td> <a href="../elements/02c5b4c0-452c-4415-84c5-930c011164a0.html" target="element"> Sales Cloud (EU) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e93d8665a7ff442fb9d6c302d9cad1fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e93d8665a7ff442fb9d6c302d9cad1fb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6f25e6e190349aa87d0541fccf77027.html" target="element"> Salesforce Europe </a> </td>
																		<td> <a href="../elements/id-d875e18900e146aab94f4dc06a650011.html" target="element"> B2B Commerce Cloud </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d5110de585b14e8dbc94601fec3172e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5110de585b14e8dbc94601fec3172e2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6f25e6e190349aa87d0541fccf77027.html" target="element"> Salesforce Europe </a> </td>
																		<td> <a href="../elements/id-d141f4ee4c304f8ca7beb7201a0c12f6.html" target="element"> Marketing cloud </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f807c5c0054e412f8d671bb7cfc6cee8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f807c5c0054e412f8d671bb7cfc6cee8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6f25e6e190349aa87d0541fccf77027.html" target="element"> Salesforce Europe </a> </td>
																		<td> <a href="../elements/ed9aa49d-2421-4264-930f-b189e477e92c.html" target="element"> ComplianceQuest </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-cb49d7f02c4d45f2a4a7636c94ed9fd6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb49d7f02c4d45f2a4a7636c94ed9fd6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d875e18900e146aab94f4dc06a650011.html" target="element"> B2B Commerce Cloud </a> </td>
																				<td> <a href="../elements/id-9d28e90b812649af889b91568a84ec4e.html" target="element"> HERMES  / Second Life sales </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-51a8cbf16a41421db07427ae40631883.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51a8cbf16a41421db07427ae40631883.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d141f4ee4c304f8ca7beb7201a0c12f6.html" target="element"> Marketing cloud </a> </td>
																				<td> <a href="../elements/id-8ad2b8c3c8314975bfef2d2b3aa500d1.html" target="element"> Marketing automation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f27978a9f78949aa9a31861d23831c49.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f27978a9f78949aa9a31861d23831c49.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/ed9aa49d-2421-4264-930f-b189e477e92c.html" target="element"> ComplianceQuest </a> </td>
																				<td> <a href="../elements/id-893d87b2ca3643c883a21df4a74c2bae.html" target="element"> Complaints </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>